@mixin buttonStyles {
  background-image: url(../images/gfx-bkg-trans.png);
  background-color: theme-color("primary");
  color: color-yiq(theme-color("primary"));
  font-weight: bold;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0 rgba(0, 0, 0, 0.25);
  padding: 0.25em 0.875em;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  border: none;
  border-radius: 0.2em;

  @include fontAlt;
}

.menu-item.btn a,
input[type="submit"],
input.btn,
input.button,
.btn:not(.menu-item) {
  transition: all 0.35s;

  @include buttonStyles();

  &:hover,
  &:active,
  &:focus {
    background-color: theme-color("secondary");
    color: color-yiq(theme-color("secondary"));
  }
}
