/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

input:not([type="submit"]),
select,
textarea {
  border: 1px solid #999;
  padding: 7px 25px 7px 10px !important;
}

.select-wrapper {
  position: relative;

  &::after {
    content: "keyboard_arrow_down";
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    width: auto;
    transform: translate(-50%, -50%);

    @include materialIcons;

    font-size: 16px;
  }
}

select {
  display: block;
  position: relative;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

form ul {
  padding: 0;
}

form.searchandfilter input[type="submit"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
