footer.content-info {
  margin: 20px 0 20px 80px;

  @include media-breakpoint-down(lg) {
    margin: 20px 0;
  }

  > .footer-widgets {
    max-width: 1660px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 80px;

    @include media-breakpoint-down(lg) {
      padding: 0;
    }

    > * {
      flex-basis: calc(33% - 20px);
      flex-grow: 1;
      margin: 10px;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #999;
    }
  }
}

body.page {
  footer.content-info {
    margin: 20px 0;
  }
}
