header.banner {
  background-color: #364050;
  color: #fff;
  padding: 10px 5px;
  background-image: url(../images/gfx-bkg-trans.png);

  @include media-breakpoint-down(md) {
    background-image: url(../images/gfx-diamond-tile.png);
    background-size: 60px auto;
    background-position: center top;
  }

  a {
    color: #fff;
  }

  .nav li {
    @extend .nav-item;
  }

  > * {
    padding: 0 20px 25px;
    border-bottom: 1px solid rgba(#999, 0.4);
    margin-bottom: 25px;
  }

  .nav a {
    @extend .nav-link;
  }

  .logos {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    > * {
      max-width: calc(100% - 30px);
      width: auto;
      margin-bottom: 10px;
    }

    a.brand {
      font-size: 40px;

      @include media-breakpoint-down(md) {
        font-size: 30px;
      }
    }
  }

  .nav-primary {
    text-align: center;
    padding-bottom: 25px;

    ul.nav {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media-breakpoint-down(xs) {
        li:not(.btn) {
          display: none;
        }
      }
    }
  }

  .widget_search {
    label {
      position: relative;
      width: calc(100% - 80px);

      input.search-field {
        max-width: 100%;
      }
    }

    input.search-submit {
      width: 80px;
    }
  }
}
