//list view
nav.posts-navigation {
  margin-top: 50px;

  a {
    display: inline-flex;

    &::before,
    &::after {
      @include materialIcons;
    }
  }

  .nav-previous a::before {
    content: "chevron_left";
  }

  .nav-next a::after {
    content: "chevron_right";
  }
}

//sinlge post
#comments {
  margin: 30px 80px;

  > * {
    max-width: 1500px;
  }
}

.searchandfilter {

  ul li { margin-bottom: 10px; }
}
