body {
  background-color: $grayLight;
  background-image: url(../images/gfx-bkg-trans.png);

  @include fontBody;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  @include fontAlt;
}

h1 {
  font-size: calc(1.6em + 2vw);
  margin-bottom: 50px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}

//primary content and sidebar if ever
.content-wrap {
  .content {
    margin: 20px 0;

    main.main {
      position: relative;
      padding: 50px 4vw;
      border-radius: 15px 0 0 15px;
      box-shadow: 0.25em 0 0 0 #fbfbfb, 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
      background: #fff url(../images/gfx-bkg-trans.png);

      > * {
        max-width: 1500px;
      }

      @include media-breakpoint-down(lg) {
        padding: 40px;
      }

      @include media-breakpoint-down(md) {
        padding: 30px;
      }
    }
  }
}
