#siteWrap {
  overflow: hidden;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    "header content"
    "header footer";

  @include media-breakpoint-down(md) {
    grid-template-columns: 12fr;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  > header.banner {
    grid-area: header;
    min-width: 250px;
    max-width: 350px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      > * {
        border-bottom: none;
        padding: 0 10px;
      }

      .logos {
        padding-bottom: 0;
        margin: 0;

        > * {
          margin-bottom: 0;
          max-width: 100%;
        }

        > img { display: none; }
      }

      nav {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      ul.nav {
        flex-direction: row;
      }

      .widget { display: none; }
    }
  }

  .content-wrap {
    grid-area: content;
  }

  aside.sidebar {
    grid-area: sidebar;
  }

  footer.content-info {
    grid-area: footer;
  }
}
