/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$primary : #c94663;
$grayDark : #364050;
$grayLightest : #f4f4f4;
$grayLight : #e8e8e8;
$grayMedium : #999;
$theme-colors: (primary: #c94663,
secondary: goldenrod,
alternate: #3f8434,
dark: #364050,
medium: #565656,
light: #e8e8e8);

@mixin fontBody() {
  font-family: "Source Sans Pro", sans-serif;
}

.fontBody {
  @include fontBody;
}

@mixin fontAlt() {
  font-family: "Open Sans Condensed", sans-serif;
}

.fontAlt {
  @include fontAlt;
}

@mixin materialIcons() {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
